<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>登陆</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/signin.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/common.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.css">
</head>

<body>
    <div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" id="from" href="/">未登录</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li><a href="/">聊天</a></li>
						<li class="active"><a href="/sigin">更换昵称</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
    <div id="content">
        <div class="form_line">
            <h2 class="form_label">输入你的昵称</h2>
        </div>
        <form style="margin-top:70px;" method="post">
            <div class="form_line">
                <input type="text" name="name" />
            </div>
            <br/>
            <div class="form_line">
                <div class="form_label"></div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
                <button class="btn btn-lg btn-primary btn-block" type="reset">重置</button>
            </div>
        </form>
    </div>
</body>

</html>
