* {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    color: #333;
}
body {
    height: 100%;
    width: 100%;
    position: absolute;
    float: left;
}
a {
    text-decoration: none;
}
a:hover {
    color: #09F;
    text-decoration: underline;
}
button {
    cursor: pointer;
    border: none;
}
